/* ----------------------------------------------------------------
    Bootstrap Adjustments
-----------------------------------------------------------------*/

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

body {
    font-size: 0.875rem;
}


/* ----------------------------------------------------------------
    Basic
-----------------------------------------------------------------*/

ul,
li {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}

::selection {
    background: #00a2e2;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #1ABC9C;
    /* Firefox */
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #1ABC9C;
    /* Safari */
    color: #FFF;
    text-shadow: none;
}

:active,
:focus {
    outline: none !important;
}


/* ----------------------------------------------------------------
    Typography
-----------------------------------------------------------------*/

body {
    line-height: 1.5;
    color: #555;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none !important;
    color: #1ABC9C;
}

a:hover {
    color: #222;
}

a img {
    border: none;
}

img {
    max-width: 100%;
}


/* ----------------------------------------------------------------
    Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h3 {
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}


/* ----------------------------------------------------------------
    Helper Classes
-----------------------------------------------------------------*/

#wrapper {
    position: relative;
    float: none;
    width: 1220px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* ----------------------------------------------------------------
    Header
-----------------------------------------------------------------*/

#header {
    position: relative;
    background-color: #FFF;
    border-bottom: 1px solid #F5F5F5;
}

#header .container {
    position: relative;
}

#header.full-header {
    border-bottom-color: #EEE;
}

body.stretched #header.full-header .container {
    width: 100%;
    max-width: none;
    padding: 0 30px;
}


/* ----------------------------------------------------------------
    Logo
-----------------------------------------------------------------*/

#logo {
    position: relative;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 100%;
    margin-right: 40px;
}

#header.full-header #logo {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid #EEE;
}

#logo a {
    display: block;
    color: #000;
}

#logo img {
    display: block;
    max-width: 100%;
}

#logo a.standard-logo {
    display: block;
}

#logo a.retina-logo {
    display: none;
}


/* ----------------------------------------------------------------
    Sticky Header
-----------------------------------------------------------------*/

#header,
#header-wrap,
#logo img {
    height: 70px;
    -webkit-transition: height .4s ease, opacity .3s ease;
    -o-transition: height .4s ease, opacity .3s ease;
    transition: height .4s ease, opacity .3s ease;
}

body:not(.top-search-open) #header-wrap #logo {
    opacity: 1;
    -webkit-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    -o-transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
    transition: height .4s ease, margin .4s ease, opacity .2s .2s ease;
}

#header-wrap {
    position: relative;
    z-index: 199;
    -webkit-backface-visibility: hidden;
}


/* ----------------------------------------------------------------
    Page Title
-----------------------------------------------------------------*/

#page-title {
    position: relative;
    padding: 30px 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEE;
}

#page-title .container {
    position: relative;
}

#page-title h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

#page-title span {
    display: block;
    margin-top: 5px;
    font-weight: 300;
    color: #777;
    font-size: 18px;
}


/* ----------------------------------------------------------------
    Content
-----------------------------------------------------------------*/

#content {
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}

#content p {
    line-height: 1.8;
}

.content-wrap {
    position: relative;
    padding: 30px 0;
}

#content .container {
    position: relative;
}

.grid-container {
    position: relative;
    overflow: hidden;
}

body:not(.device-touch) .grid-container {
    -webkit-transition: height .4s ease;
    -o-transition: height .4s ease;
    transition: height .4s ease;
}


/* Portfolio - Filter
-----------------------------------------------------------------*/

.portfolio-filter {
    position: relative;
    margin: 0 0 20px 0;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    float: left;
    border-radius: 4px;
}

.portfolio-filter li {
    float: left;
    position: relative;
}

.portfolio-filter li a {
    display: block;
    position: relative;
    padding: 12px 18px;
    font-size: 13px;
    line-height: 15px;
    color: #666;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.portfolio-filter li:first-child a {
    border-left: none;
    border-radius: 4px 0 0 4px;
}

.portfolio-filter li:last-child a {
    border-radius: 0 4px 4px 0;
}

.portfolio-filter li a:hover {
    color: #00a2e2;
}

.portfolio-filter li.activeFilter a {
    color: #FFF !important;
    background-color: #00a2e2;
    margin: -1px 0;
    padding: 13px 18px;
    font-weight: bold;
}

.portfolio {
    position: relative;
    margin: 0 -12px -12px 0;
}

body:not(.device-touch) .portfolio {
    -webkit-transition: height .4s linear;
    -o-transition: height .4s linear;
    transition: height .4s linear;
}

.portfolio-item {
    float: left;
    position: relative;
    width: 25%;
    height: auto;
    padding: 0 12px 12px 0;
}

.portfolio-item .portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-item .portfolio-image,
.portfolio-item .portfolio-image a,
.portfolio-item .portfolio-image img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 18%);
}


/* Portfolio - Item Title
-----------------------------------------------------------------*/

.portfolio-desc {
    z-index: 3;
    padding: 15px 5px 10px;
}

.portfolio-desc h3 {
    margin: 0;
    padding: 0;
    font-size: 19px;
}

.portfolio-desc h3 a {
    color: #222;
}

.portfolio-desc h3 a:hover {
    color: #00a2e2;
}

.portfolio-desc span {
    display: block;
    margin: 3px 0 16px 0;
    color: #888;
}

.portfolio-desc p {
    display: block;
    margin-top: 3px;
    color: #888;
}

.portfolio-desc span a {
    color: #00a2e2;
}

.portfolio-desc span a:hover {
    color: #00a2e2;
}

.portfolio.portfolio-3 {
    margin: 0 -15px -15px 0;
}

.portfolio-3 .portfolio-item {
    width: 33.33333333%;
    padding: 0 15px 15px 0;
}


/* ----------------------------------------------------------------
    Contact Form
-----------------------------------------------------------------*/

input[type=checkbox]:not(:checked) + label.error {
    display: block !important;
}


/* ----------------------------------------------------------------
    Go To Top
-----------------------------------------------------------------*/

#gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

body:not(.device-touch) #gotoTop {
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}

.stretched #gotoTop {
    bottom: 30px;
}

#gotoTop:hover {
    background-color: #1ABC9C;
}


/* ----------------------------------------------------------------
    Stretched Layout
-----------------------------------------------------------------*/

.stretched #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
}


/* ----------------------------------------------------------------
    Page Transitions
-----------------------------------------------------------------*/

body:not(.no-transition) #wrapper {
    position: relative;
    opacity: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
